.prod-productos .card {
    text-align: left;
    margin: 20px; }
  #prod-banner {
    background-image: url("../img/newWave.jpg");
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center; }
  .prod-name {
    font-family: 'Coolvetica Black';
    display: flex; 
    flex-direction: column; }
  .prod-contenido {
    display: flex;
    flex-direction: row; }
  .prod-categorias {
    background-color: #d1bef4;
    padding: 40px;
    margin-bottom: 0; }
  .prod-categorias h4 {
    margin-left: 10px; }
  .prod-categorias :hover {
    cursor: pointer;
    color: #804cd1; }
  .prod-productos {
    padding-left: 40px;
    padding-top: 40px; }
  .prod-productos h3 { padding-bottom: 20px; }
  .prod-productos card {
    margin-left: 0px;
    margin-top: 20px; }
  .prod-cards {
    column-count: 4;
    column-gap: 0px;
    display: RUBY;
    justify-content: center; }
  .product-list {
    margin: 30px;
    height: 170px;
    display: flex;
    flex-direction: row;
    border-radius: 20px; }
  .product-list-info {
    width: 25%;
    max-width: 330px;
  }
  .product-list img{
    width: 150px;
    height: 150px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 100px; }
  .product-list .delete-button{
    margin-left: auto;
    margin-right: 5%;
    border: none;
    width: 3%;
    border-radius: 200px;
    height: 30px;
    background-color: #804cd1;
    color: #ffffff; }
  .product-list .delete-button:hover {
    background-color: #44296fe1;
  }
  .product-list-body span{ margin-right: 50px; }
  .product-list-body p{
    padding: 20px;
    width: 35%; }
    
  .prod-busqueda{
    margin-bottom: 4%;
    background-color: #d1bef4;
    border-radius: 20px;}
  .prod-busqueda input{
    border-color:#000000; 
    border-style: solid;
    font-size: 16px;
    margin-right: 10px; }
  .prod-busqueda input:hover{ cursor: text; }
  .prod-busqueda :focus {
    border-color:#ccc;
    box-shadow: 0 0 5px #808080; }
  
  .product-list input {
    margin-right: 7%;
    border-radius: 10px;
    color: #323232;
  }
  .container{
    font-family: 'Coolvetica Black';
  }
  #product-description-p { font-size: 20px; }